* {
  box-sizing: border-box;
}

#q4_wrapper {
  height: 100vh;
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4_wrapper h1, #q4_wrapper h3 {
  margin: 0;
}
#q4_wrapper h1 {
  font-size: 48px;
}
#q4_wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4_wrapper header, #q4_wrapper footer {
  background-color: #22272B;
}
#q4_wrapper header {
  padding: 20px;
}
#q4_wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4_wrapper article {
  text-align: center;
}
#q4_wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4_wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4_wrapper a:hover {
  transform: scale(1.05);
}
#q4_wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */
.reports {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

.reports .reports_item {
  margin: 15px;
}

.reports .cover_image_link {
  padding: 0 15px;
}

@media screen and (min-width: 769px) and (max-width: 960px){
  .reports {
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px){
  .reports {
    justify-content: center;
  }
}